@using System.Security.Claims
@model FriendshipVM
<main id="site__main" class="2xl:ml-[--w-side]  xl:ml-[--w-side-sm] p-2.5 h-[calc(100vh-var(--m-top))] mt-[--m-top]">

    <div class="2xl:max-w-[1220px] max-w-[1065px] mx-auto">
       @*  list Friends *@
        @if (Model.Friends.Count > 0)
        {
            <div class="sm:my-6  my-3 flex items-center justify-between">
                <div>
                    <h2 class="text-lg text-base font-semibold text-black">My Friends</h2>
                    <p class="font-normal text-sm text-gray-500 leading-6">Your personal network of friends and acquaintances. 
                        Connect, share, and stay in touch with the people who matter to you.</p>
                </div>
            </div>

            <div class="grid grid-cols-2 gap-2">
                @foreach (var _friendShip in Model.Friends)
                {
                    var currentUserId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
                    var friend = _friendShip.Sender.Id == currentUserId
                    ? _friendShip.Receiver
                    : _friendShip.Sender;

                    <div class="flex md:items-center space-x-4 p-4 rounded-md box">

                        <div class="w-14 h-14 flex-shrink-0 rounded-lg relative">
                            <img src="@(string.IsNullOrEmpty(friend.AvatarUrl) ? Url.Content("~/images/avatar/user.png") :
                             friend.AvatarUrl)"
                                 class="absolute w-full h-full inset-0 rounded-md object-cover shadow-sm" />
                        </div>

                        <div class="flex-1">
                            <a asp-controller="Users" asp-action="Details" asp-route-userId="@friend.Id"
                               class="text-base font-semibold capitalize text-black">
                                @friend.FullName
                            </a>
                        </div>

                        <form asp-controller="Friends" asp-action="RemoveFriend" method="post">
                            <input type="hidden" name="friendshipId" value="@_friendShip.Id" />
                            <button type="submit" class="button bg-red-100 text-red-600 gap-1 max-md:hidden">
                                <ion-icon name="remove-circle-outline" class="text-xl -ml-1"></ion-icon> Remove
                            </button>
                        </form>
                    </div>
                }
            </div>
        }



        @*  list Friends recriver *@


        @if (Model.FriendRequestReceived.Count > 0)
        {
            <div class="sm:my-6  my-3 flex items-center justify-between">
                <div>
                    <h2 class="text-lg text-base font-semibold text-black">Received Request</h2>
                    <p class="font-normal text-sm text-gray-500 leading-6">See who wants to connect with you! Review and respond to incoming friend requests to expand your circle.</p>
                </div>
            </div>

            <div class="grid grid-cols-2 gap-2">
                @foreach (var request in Model.FriendRequestReceived)
                {
                    <div class="flex md:items-center space-x-4 p-4 rounded-md box">

                        <div class="w-14 h-14 flex-shrink-0 rounded-lg relative">
                            <img src="@(string.IsNullOrEmpty(request.receiver.AvatarUrl) ? Url.Content("~/images/avatar/user.png") :
                            request.sender.AvatarUrl)"
                                 class="absolute w-full h-full inset-0 rounded-md object-cover shadow-sm" />
                        </div>

                        <div class="flex-1">
                            <a asp-controller="Users" asp-action="Details" asp-route-userId="@request.sender.Id" class="text-base font-semibold capitalize text-black">@request.sender.FullName</a>
                        </div>

                        <form asp-controller="Friends" asp-action="UpdateFriendRequest" method="post">
                            <input type="hidden" name="requestId" value="@request.Id" />
                            <input type="hidden" name="status" value="@FriendShipStatus.Rejected" />
                            <button type="submit" class="button bg-red-100 text-red-600 gap-1 max-md:hidden">
                                <ion-icon name="remove-circle-outline" class="text-xl -ml-1"></ion-icon> Reject
                            </button>
                        </form>
                        <form asp-controller="Friends" asp-action="UpdateFriendRequest" method="post">
                            <input type="hidden" name="requestId" value="@request.Id" />
                            <input type="hidden" name="status" value="@FriendShipStatus.Accepted" />
                            <button type="submit" class="button bg-primary-soft text-primary gap-1 max-md:hidden">
                                <ion-icon name="checkbox-outline" class="text-xl -ml-1"></ion-icon> Accept
                            </button>
                        </form>
                    </div>
                }
            </div>
        }

        @*  list Friends request *@
        @if (Model.FriendRequestSent.Count > 0)
        {
            <div class="sm:my-6 my-3 flex items-center justify-between">
                <div>
                    <h2 class="text-lg text-base font-semibold text-black">Pending Invitations</h2>
                    <p class="font-normal text-sm text-gray-500 leading-6">Track the friend requests you’ve sent. See who hasn’t responded yet and manage your pending invitations</p>
                </div>
            </div>

            <div class="grid grid-cols-2 gap-2">
                @foreach (var request in Model.FriendRequestSent)
                {
                    <div class="flex md:items-center space-x-4 p-4 rounded-md box">

                        <div class="w-14 h-14 flex-shrink-0 rounded-lg relative">
                            <img src="@(string.IsNullOrEmpty(request.receiver.AvatarUrl) ? Url.Content("~/images/avatar/user.png") :
                            request.receiver.AvatarUrl)"
                                 class="absolute w-full h-full inset-0 rounded-md object-cover shadow-sm" />
                        </div>

                        <div class="flex-1">
                            <a asp-controller="Users" asp-action="Details" asp-route-userId="@request.receiver.Id" class="text-base font-semibold capitalize text-black">@request.receiver.FullName</a>
                        </div>

                        <form asp-controller="Friends" asp-action="UpdateFriendRequest" method="post">
                            <input type="hidden" name="requestId" value="@request.Id" />
                            <input type="hidden" name="status" value="@FriendShipStatus.Canceled" />
                            <button type="submit" class="button text-red-600 gap-1 max-md:hidden">
                                <ion-icon name="remove-circle-outline" class="text-xl -ml-1"></ion-icon> Cancel
                            </button>
                        </form>
                    </div>
                }
            </div>
        }

    </div>
</main>